---
layout: page
title: "Members" 
description: "Members working and studying at CAMELab \n"
header-img: "img/newyear.png"
---
<div style="clear:both; margin-top: 5px; font-size: 23.1px;">
	<h1>PI</h1>
	<hr>
{% for member in site.data.members %} {% if member.role == 'PI' %} {% if member.visible == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:12px; float:left; width:152px !important">
	<h2>{{ member.name }}, PhD</h2>
	{% if member.email %}
	<span class="social-share-googleplus" style="margin: 2px; font-size: 20px;"><img src="{{ "/img/icons/email.png" | prepend: site.baseurl }}" style="height:18px; margin-right: 3px;">{{member.email}} </span>
	{% endif %}
	{% if member.url %}
	<span class="social-share-googleplus" style="margin: 2px; font-size: 20px;"> <a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:18px; margin-right: 3px;">Website</a></span>
	{% endif %}
	<br>
	{% if member.bio %} 
	{{ member.bio }}
	{% endif %}
{% endif %}{% endif %}{% endfor %}
</div>
<br style="clear:both;">
<div style="clear:both; margin-top: 5px; font-size: 22px;">
	<h1>Co-PI</h1>
	<hr>
{% for member in site.data.members %} {% if member.role == 'Co-PI' %} {% if member.visible == true %}
	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:12px; float:left; width:152px !important">
	<h2>{{ member.name }}, PhD</h2>
	{% if member.email %}
	<span class="social-share-googleplus" style="margin: 2px; font-size: 20px;"><img src="{{ "/img/icons/email.png" | prepend: site.baseurl }}" style="height:18px; margin-right: 3px;">{{member.email}} </span>
	{% endif %}
	{% if member.url %}
	<span class="social-share-googleplus" style="margin: 2px; font-size: 20px;"> <a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:18px; margin-right: 3px;">Website</a></span>
	{% endif %}
	<br>
	{% if member.bio %} 
	{{ member.bio }}
	{% endif %}
{% endif %}{% endif %}{% endfor %}
</div>
<br style="clear:both;">
<div style="clear:both; margin-top: 5px;">
	<h1>Lab Manager</h1>
	<hr>
{% for member in site.data.members %} {% if member.role == 'Lab Manager' %} {% if member.visible == true %}
	<div class="cardBox">
		<img src="{{ member.img }}" style="margin-top:5px; margin-bottom:7px; margin-right:12px; float:left; height:120px !important">
		<h3 style="font-size: 27px;">{{ member.name }}</h3>
	{% if member.email %}
	<span class="social-share-googleplus" style="margin: 2px; font-size: 19px;"><img src="{{ "/img/icons/email.png" | prepend: site.baseurl }}" style="height:18px; margin-right: 3px;">{{member.email}} </span>
	{% endif %}
	{% if member.url %}
		<span class="social-share-googleplus" style="margin: 2px; font-size: 19px;"> <a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:18px; margin-right: 3px;">Website</a></span>
	{% endif %}
		<br>
	{% if member.research %}
		<b>{{ member.research }}</b>
	{% endif %}
	{% if member.bio %} 
		{{ member.bio }}
	{% endif %}
	</div>
{% endif %}{% endif %}{% endfor %}
</div>
<style>
    .cardBox {
        font-family: Calibri;
        font-size: 20px;
    }
</style>
<div style="clear:both; margin-top: 5px;">
	<h1>Postdoc</h1>
	<hr>
{% for member in site.data.members %} {% if member.role == 'Postdoc' %} {% if member.visible == true %}
	<div class="cardBox">
		<img src="{{ member.img }}" style="margin-top:5px; margin-bottom:7px; margin-right:12px; float:left; width:120px !important">
		<h3 style="font-size: 27px;">{{ member.name }}, PhD</h3>
	{% if member.research %}
		<b>{{ member.research }}</b>
	{% endif %}
	{% if member.github %} 
		<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span> 
	{% endif %}
	{% if member.email %}
		<span class="social-share-googleplus" style="margin-bottom: 2px; font-size: 19px;"><img src="{{ "/img/icons/email.png" | prepend: site.baseurl }}" style="height:18px; margin-right: 3px;">{{member.email}} </span>
	{% endif %}
		<br>
	{% if member.bio %} 
		{{ member.bio }}
	{% endif %}
	</div>
{% endif %}{% endif %}{% endfor %}
</div>
<br style="clear:both;">
<div style="clear:both; margin-top: 5px;">
	<h1>PhD Student</h1>
	<hr>
{% for member in site.data.members %} {% if member.role == 'PhD Student' %} {% if member.visible == true %}
	<div class="cardBox">
		<img src="{{ member.img }}" style="margin-top:5px; margin-bottom:7px; margin-right:12px; float:left; width:120px !important">
		<h3 style="font-size: 27px;">{{ member.name }}</h3>
	{% if member.research %}
		<b>{{ member.research }}</b>
	{% endif %}
	{% if member.github %} 
		<span class="social-share-googleplus" style="margin-bottom: 2px; font-size: 19px;"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span> 
	{% endif %}
		<br>
	{% if member.bio %} 
		{{ member.bio }}
	{% endif %}
	</div>
{% endif %}{% endif %}{% endfor %}
</div>
<br style="clear:both;">
<div style="clear:both; margin-top: 5px;">
	<h1>Rotation Student</h1>
	<hr>
{% for member in site.data.members %} {% if member.role == 'Rotation Student' %} {% if member.visible == true %}
	<div class="cardBox">
		<img src="{{ member.img }}" style="margin-top:5px; margin-bottom:7px; margin-right:12px; float:left; width:120px !important">
		<h3 style="font-size: 27px;">{{ member.name }}</h3>
	{% if member.research %}
		<b>{{ member.research }}</b>
	{% endif %}
	{% if member.github %} 
		<span class="social-share-googleplus" style="margin-bottom: 2px; font-size: 19px;"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span> 
	{% endif %}
		<br>
	{% if member.bio %} 
	{{ member.bio }}
	{% endif %}
	</div>	
{% endif %}{% endif %}{% endfor %}
</div>
<br style="clear:both;">
<div style="clear:both; margin-top: 5px;">
	<h1>Undergraduate</h1>
	<hr>
{% for member in site.data.members %} {% if member.role == 'Undergraduate' %} {% if member.visible == true %}
	<div class="cardBox">
		<img src="{{ member.img }}" style="margin-top:5px; margin-bottom:7px; margin-right:12px; float:left; width:120px !important">
		<h3 style="font-size: 27px;">{{ member.name }}</h3>
	{% if member.research %}
		<b>{{ member.research }}</b>
	{% endif %}
	{% if member.github %} 
		<span class="social-share-googleplus" style="margin-bottom: 2px; font-size: 19px;"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span> 
	{% endif %}
		<br>
	{% if member.bio %} 
		{{ member.bio }}
	{% endif %}
	</div>
{% endif %}{% endif %}{% endfor %}
</div>
<br style="clear:both;">
<br style="clear:both;">
<div style="clear:both; margin-top: 5px;">
	<h1>Alumni</h1>
	<hr>
{% for member in site.data.members %} {% if member.visible == false %}
	<div style="margin-bottom: 5px; font-size: 21px;">
		<b>{{ member.name }}, </b>
	{% if member.role %}
		<b>{{ member.role }}. </b>
	{% endif %}
	{% if member.bio %}
	Now {{ member.bio }}.
	{% endif %}
	</div>
{% endif %}{% endfor %}
	...
</div>