---
layout: news
title: "Publications"
description: "PEER REVIEWED ORIGINAL RESEARCH PAPERS <br>(Total citations > 5000, H-index = 26)"
header-img: "img/molecule.png"
---
<link rel="stylesheet" href="../css/timeline.css">
<div class="row" style="clear:both; margin-top: 5px; font-size: 18px;">
    {% for pub in site.data.pub %} 
    {% if pub.fig %}
    <div class="timeline-pubfig-content">
    {% else %}
    <div class="timeline-pub-content">
    {% endif %}
        {% if pub.fig %}
        <div style="display:inline-block; margin-right: 120px;">
        {% else %}
        <div style="display:inline-block;">
        {% endif %}
            <div >
                <b style="font-size: 20px;"><i>{{ pub.journal }}</b></i> | {{pub.date}}{% if pub.volume %}; {{pub.volume}}{% endif %}
                {% if pub.issue %}
                    ({{ pub.issue}})
                {% endif %}
                <br>
            </div>
            <div style="margin-bottom: 5px;">
                <a href="{{pub.URL}}" target="_blank" style="font-size: 20px; font-weight: bold;">{{ pub.title }}</a>
            </div>
            <div style="margin-bottom: 30px; font-size: 18px; color: rgb(99, 99, 99)">
                {{ pub.author }}
            </div>
            <div style="position: absolute; bottom: 10px;">
            <nobr>
                {% if pub.PubMed %}
                <a href="https://pubmed.ncbi.nlm.nih.gov/{{pub.PubMed}}" target="_blank" style="font-size: 17px; color: rgb(99, 99, 99);"><u>PubMed</u></a>&emsp;
                {% endif %}
                {% if pub.pdf %}
                <a href="{{pub.pdf}}" target="_blank" style="font-size: 17px; color: rgb(99, 99, 99);"><u>PDF</u></a>&emsp;
                {% endif %}
                {% if pub.DOI %}
                <a href="https://doi.org/{{pub.DOI}}" target="_blank" style="font-size: 17px; color: rgb(99, 99, 99);">doi: {{ pub.DOI }}</a>&emsp;
                {% endif %}
            </nobr>
            </div>
        </div>
        {% if pub.fig %}
        <div style="display:inline-block; align-items:center; right: 15px; position: absolute;  top: 50%; transform:translateY(-50%)">
            <img src="{{ pub.fig }}" style="max-height:158px !important; max-width:160px !important;  overflow:hidden;">
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

